* {
	font-family: "Montserrat", sans-serif;
	margin: 0;
	padding: 0;
}

.loading-wrapper {
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: #081b2f;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	position: fixed;
	z-index: 9999;

	img {
		width: 7%;
		animation-name: example;
		animation-duration: 4s;
	}

	@keyframes example {
		0% {
			width: 7%;
		}
		25% {
			width: 9%;
		}
		50% {
			width: 7%;
		}
		75% {
			width: 9%;
		}
		100% {
			width: 7%;
		}
	}

	p {
		padding-top: 4%;
	}
}

.home-page {
	background-color: #081b2f;
	position: relative;

	nav ul {
		list-style: none;
		left: 10%;
		padding-top: 20%;
		padding-left: 13%;

		#task6 {
			padding-bottom: 2%;

			@media (max-width: 768px) {
				font-size: 15px;
			}

			@media (max-width: 414px) {
				font-size: 9px;
			}
		}

		li a {
			text-decoration: none;
			font-size: 40px;
			font-weight: bold;
			color: white;
			line-height: 60px;
			text-transform: uppercase;

			@media (max-width: 768px) {
				font-size: 30px;
			}

			@media (max-width: 768px) {
				font-size: 20px;
				line-height: 40px;
			}
		}
		&.hidden {
			display: none;
		}
	}

	&.hidden {
		transition: 2s;
		background-color: #f89d36;
		height: 110vh;
		width: 100%;
	}
	.img-container {
		img {
			width: 100%;
			opacity: 30%;

			&.hidden {
				display: none;
			}
		}
	}

	.meni {
		position: absolute;
		top: 15%;
		left: 5%;
		transform: translate(-50%, -50%);
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 20%;

		#meni-text {
			font-weight: lighter;
			padding-bottom: 3%;

			@media (max-width: 414px) {
				font-size: 10px;
			}
		}

		img {
			cursor: pointer;
		}
	}

	#logo {
		position: absolute;
		top: 20%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: white;

		&.hiden {
			display: none;
		}

		img {
			width: 70%;

			/* responsive for iPad Pro */
			@media (max-width: 768px) {
				width: 50%;
			}

			// responsive for iphone Plus
			@media (max-width: 414px) {
				width: 30%;
			}
		}

		// responsive for iphone Plus
		@media (max-width: 414px) {
			left: 60%;
		}
	}

	h1 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: white;

		@media (max-width: 414px) {
			font-size: 17px;
		}

		@media (max-width: 360px) {
			font-size: 14px;
		}

		&.hidden {
			display: none;
		}
	}

	p {
		position: absolute;
		top: 60%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: white;

		@media (max-width: 414px) {
			font-size: 13px;
		}

		@media (max-width: 360px) {
			font-size: 12px;
		}

		&.hidden {
			display: none;
		}
	}

	.buttons {
		position: absolute;
		top: 80%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: white;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		width: 10%;

		/* responsive for iPad Pro */
		@media (max-width: 1024px) {
			width: 15%;
		}

		@media (max-width: 414px) {
			width: 50%;
		}

		.btn {
			border: 1px solid white;
			background-color: inherit;
			border-radius: 55%;
			color: white;
			padding-top: 1%;
			padding-bottom: 1%;
			padding-left: 3%;
			padding-right: 3%;
			font-size: 13px;

			&:hover {
				background-color: white;
				color: black;
			}
		}

		&.hidden {
			display: none;
		}
	}
}

.task3-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	text-align: center;
	padding-top: 2%;
	padding-bottom: 2%;

	h1 {
		@media (max-width: 414px) {
			font-size: 17px;
		}
	}

	p {
		padding-left: 29%;
		padding-right: 29%;
		line-height: 30px;
		padding-bottom: 1%;

		/* responsive for iPad Pro */
		@media (max-width: 1024px) {
			padding-left: 15%;
			padding-right: 15%;
			padding-top: 2%;
			padding-bottom: 2%;
		}

		@media (max-width: 414px) {
			font-size: 13px;
			line-height: 20px;
		}
	}

	.fixed-gallery {
		display: flex;
		flex-direction: row;
		justify-content: center;

		@media (max-width: 414px) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		.img-side-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 15%;

			@media (max-width: 414px) {
				width: 70%;
			}

			img {
				padding: 4%;
			}
		}

		.img-center-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 25%;
			@media (max-width: 414px) {
				width: 70%;
			}

			img {
				padding: 2%;
			}
		}
	}
}

.task4-container {
	width: 100%;
	height: 100vh;
	background-color: #081b2f;

	h1 {
		color: white;
		text-align: center;
		padding-top: 5%;
		padding-bottom: 5%;

		@media (max-width: 414px) {
			font-size: 17px;
		}
	}

	.slider-gallery {
		margin-left: 25%;
		margin-right: 25%;

		img {
			padding-right: 25px;
		}
	}

	/* responsive for iPad Pro */
	@media (max-width: 1024px) {
		height: 70vh;
	}

	@media (max-width: 414px) {
		height: 90vh;
	}

	@media (max-width: 320px) {
		height: 100vh;
	}
}

#map {
	height: 500px;
	width: 100%;
}

.task5-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 1%;

	h1 {
		padding: 2%;

		@media (max-width: 414px) {
			font-size: 17px;
		}
	}

	p {
		padding-left: 30%;
		padding-right: 30%;
		text-align: center;
		padding-bottom: 2%;

		@media (max-width: 1024px) {
			padding-left: 15%;
			padding-right: 15%;
			padding-top: 2%;
			padding-bottom: 2%;
		}

		@media (max-width: 414px) {
			padding-left: 5%;
			padding-right: 5%;
			padding-top: 2%;
			padding-bottom: 2%;
			font-size: 13px;
			line-height: 20px;
		}
	}

	span {
		font-weight: bold;
		color: #42beb2;

		@media (max-width: 414px) {
			padding-left: 5%;
			padding-right: 5%;
			text-align: center;
		}
	}

	button {
		padding: 2%;
		background-color: white;
		border: 4px solid #f89d36;
		margin: 4%;
		cursor: pointer;

		&:hover {
			background-color: #f89d36;
		}
	}
}

.footer-container {
	.small-footer {
		width: 50%;
		height: 7vh;
		position: relative;
		background-color: #42beb2;
		margin-left: 25%;
		margin-right: 25%;
		margin-bottom: -40px;
		z-index: 999;
		text-align: center;
		color: white;

		p {
			padding-top: 30px;

			@media (max-width: 414px) {
				padding-top: 20px;
				font-size: 10px;
			}
		}
	}
	.big-footer {
		width: 100%;
		height: 15vh;
		position: absolute;
		background-color: #081b2f;

		img {
			position: absolute;
			margin: auto;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 150px;
			padding-top: 2%;

			@media (max-width: 414px) {
				width: 90px;
				padding-top: 10%;
			}
		}
	}
}

/*--responsive for mobile phone--*/
@media (max-width: 720px) {
	.box {
		width: 94%;
		height: 500px;
	}
	.model {
		height: 250px;
	}
}
